@inherits LayoutComponentBase

<MudThemeProvider />

<MudAppBar Color="Color.Primary">
    <MudText Typo="Typo.h4" class="px-4">MudBlazor Wasm Sample</MudText>
</MudAppBar>

<div class="page">
    <main class="pt-10 mt-5">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>