@page "/"

@using System.Diagnostics

<div class="row">
    <div class="col">
        <textarea class="col-6" @bind="Comment"> @Comment</textarea><br />
        <button class="btn btn-primary" @onclick="HandleSubmit">Submit</button>
    </div>
    <div class="col">
        <div class="h4">List of Items</div>
        @foreach (var item in Items)
        {
            <NoteViewComp Item="item" OnDeleteItem="@(()=> HandleDeleteItem(item))" />
        }
    </div>
</div>

@code {
    private string? Comment;
    private IList<Item>? Items;

    protected override Task OnInitializedAsync()
    {
        Items = new List<Item>();
        return base.OnInitializedAsync();
    }

    private async Task HandleSubmit()
    {
        await Task.Delay(2000);

        Items.Add(new Item() { Text = Comment });
        Comment = string.Empty;
    }

    private async Task HandleDeleteItem(Item item)
    {
        if (Items?.Any(n => n == item) ?? false)
        {
            Items.Remove(Items.First(n => n == item));
        }
    }
}

