<div class="card p-2 my-4" style="width: 25rem;">
    <div class="card-body @ClassName" @onmouseover="MouseOver" @onmouseout="MouseOut">
        <p class="card-text">
            @($"{Item.Text}({Item.CDate})")
        </p>
        <button class="btn btn-primary" @onclick="HandleDeleteItem">Delete</button>
    </div>
</div>


@code {
    [Parameter]
    public Item? Item { get; set; }

    [Parameter]
    public EventCallback<Item> OnDeleteItem { get; set; }

    private string ClassName;

    public async Task HandleDeleteItem()
    {
        await OnDeleteItem.InvokeAsync(Item);
    }

    private void MouseOver()
    {
        ClassName = "bg-secondary";
    }

    private void MouseOut()
    {
        ClassName = "";
    }
}

