@page "/"

@inject HttpClient httpclient

@if (AngajatiPagination == null)
{
    <p>Loading...</p>
}

else
{
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th>CodAngajat</th>
                <th>Full Name</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var angajat in AngajatiPagination.Data)
            {
                <tr>
                    <td>@angajat.CodAngajat</td>
                    <td>@angajat.FullName</td>
                </tr>
            }
        </tbody>

        <tfoot>
            <PaginationComp PgObj = "AngajatiPagination"
                            OnSelectedPage = "SelectCurrentPage"
                            OnChangePageSize="SelectPageSize">
            </PaginationComp>
        </tfoot>
    </table>
}


@code {    
    private Pagination<Angajat>? AngajatiPagination;

    private int currentPage;
    private int pageSize;

    protected override async Task OnInitializedAsync()
    {
        currentPage = 1;
        pageSize = 10;
     
        AngajatiPagination = await httpclient.GetFromJsonAsync<Pagination<Angajat>>
        (Endpoints.UrlGetAllAngajati(currentPage, pageSize));

    }

    private async Task SelectCurrentPage(int pageIndex)
    {
        AngajatiPagination = await httpclient.GetFromJsonAsync<Pagination<Angajat>>
        (Endpoints.UrlGetAllAngajati(pageIndex, AngajatiPagination.PageSize));
    }

    private async Task SelectPageSize(int pageSize)
    {      
        AngajatiPagination = await httpclient.GetFromJsonAsync<Pagination<Angajat>>
        (Endpoints.UrlGetAllAngajati(AngajatiPagination.CurrentPageNumber, pageSize)); 
    }
}